@page
@model NguyenLeMinhDungFall2024RazorPages.Pages.Staff.CategoryManagement.DetailsModel

@{
    Layout = null; // Loại bỏ layout mặc định
    ViewData["Title"] = "Category Details";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h2 class="mb-0">Category Details</h2>
            </div>
            <div class="card-body">
                <h4>Category Information</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Category.CategoryName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Category.CategoryName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Category.CategoryDesciption)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Category.CategoryDesciption)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Category.IsActive)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Category.IsActive)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Category.ParentCategory)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Category.ParentCategory.CategoryDesciption)
                    </dd>
                </dl>
            </div>
            <div class="card-footer">
                <a asp-page="./Edit" asp-route-id="@Model.Category.CategoryId" class="btn btn-primary">Edit</a>
                <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
